body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.jobstatus {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.avatar {
    width: 16px;
    height: 16px;
}

.highlighted {
    background-color: #fffbbd;
}

.build-output {
    counter-reset: linenumber;
}

.build-output .output {
    color: #ccc;
}

.build-output td {
    border: none!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-right: 0!important;
}

tr::before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}

.output-line {
    margin-left: 45px;
}

td.linenum {
    text-align: right!important;
    vertical-align: top;
}

.linenum a {
    cursor: pointer;
    color: #666;
}

td.linenum a::before {
    counter-increment: linenumber;
    content: counter(linenumber);
}

table.build-output td.output {
    white-space: pre-wrap;
    width: 100%;
    font-family: monospace;
}

tr.cmd-msg td.output {
    color: #00d600;
    font-weight: 600;
}
